* {
  box-sizing: border-box;
}

body {
  background-color: #621402;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url("../img/bg.jpg") no-repeat center top / cover;
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 17px;
}

.menu-item {
  margin-right: 25px;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

.user {
  margin-left: auto;
  color: white;
  display: flex;
  align-items: center;
}

.film {
  color: white;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.film-title-small {
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
}

.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}

.film-description {
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}

.film-trailer {
  margin: auto;
}

.film-details {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.time {
  display: flex;
  align-items: center;
}

.time-icon {
  margin-right: 14px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-icon {
  margin-left: 34px;
}

.rating-current {
  font-size: 24px;
  line-height: 150%;
}

.rating-counter {
  margin-left: 12px;
}

.session {
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session-date-block {
  display: flex;
}

.session-label {
  display: block;
  margin-bottom: 20px;
}

.session-date-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.session-month {
  font-size: 16px;
  line-height: 19px;
}

.session-day {
  font-size: 30px;
  line-height: 35px;
  font-weight: 900;
}

.session-week {
  font-size: 19px;
  line-height: 22px;
}

.session-date-item:hover {
  background: #fe8e05;
  color: #621402;
}

.select {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: white;
  padding: 18px;
  cursor: painter;
  margin-top: 15px;
}

.select-cinema {
  min-width: 470px;
}
